
* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
	font-style: bold;
	margin-bottom: 80px;
}

h2 {
	text-align:right;
}

p {
	clear: right;
}

div > div {
	width:29%;
	background-color: grey;
	float:left;	
	border: 1px solid black;
	overflow: auto;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	padding-left: 15px;
}

#Chicken {
	background-color: pink;
	text-align: center;
	width: 40%;
	float:right;
	margin-top: 0;
	border:1px solid black;
	padding: 5px;
}

#Beef {
	background-color: red;
	text-align: center;
	width: 40%;
	color:white;
	float:right;
	margin-top: 0;
	border:1px solid black;
	padding: 5px;
}

#Sushi {
	background-color: yellow;
	text-align: center;
	width: 40%;
	float:right;
	margin-top: 0;
	border:1px solid black;
	padding: 5px;
}

@media (min-width: 768px) and (max-width: 991px){
	#div1 {
		width: 46%;
		margin-left: 2%;
		margin-right: 2%;
	}
	#div2 {
		width: 46%;
		margin-left: 2%;
		margin-right: 2%;
	}
	#div3 {
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
	}
}

@media (max-width: 767px){
	#div1 {
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
	}
	#div2 {
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
	}
	#div3 {
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
	}
}
